<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DesperateDevs.Caching" version="1.1.0" />
  <package id="DesperateDevs.Extensions" version="1.0.0" />
  <package id="DesperateDevs.Reflection" version="1.0.1" />
  <package id="ExcelDataReader" version="3.6.0" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" />
  <package id="Sherlog" version="1.0.0" />
</packages>